* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

h1 {
  text-align: center;
}

.cpu,
.user {
  width: 50px;
  height: 50px;
}

.user-choice,
.cpu-choice {
  width: 100px;
  height: 100px;
  rotate: 90deg;
}

.user-choice {
  transform: scaleX(-1);
}

.cpu-choice {
  rotate: -90deg;
  /* transform: scaleX(-1); */
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}

.clash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.img {
  width: 100%;
  height: 100%;
}
